<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter_id %>
</p>

<p>
  <strong>Twitter screen name:</strong>
  <%= @user.twitter_screen_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
